h2 Customers

table#customersTable
  thead
    tr
      th user_id
      th first_name
      th last_name
      th email
      th passport
      th address
      th telephone
  tbody#customersBody

script(src="/js/agent-customers.js")
