h2 Manage Packages

button.open-modal-btn#openPackageModalBtn + Add Package

h3 All Packages
table#packagesTable
  thead
    tr
      th package_id
      th title
      th destination
      th start_date
      th end_date
      th description
      th price
      th Actions
  tbody#packagesBody

//- ===== ADD / EDIT PACKAGE MODAL =====
.modal-overlay#packageModal
  .modal
    button.modal-close#closePackageModalBtn &times;
    h3#packageFormTitle Add New Package

    form#packageForm
      input#packageId(type="hidden" name="package_id")

      label Title
      input#title(type="text" name="title" placeholder="Enter package title" required)

      label Destination
      input#destination(type="text" name="destination" placeholder="Enter destination" required)

      label Start Date
      input#startDate(type="date" name="start_date" required)

      label End Date
      input#endDate(type="date" name="end_date" required)

      label Description
      textarea#description(name="description" placeholder="Enter package description" required)

      label Price ($)
      input#price(type="number" name="price" step="0.01" min="0" placeholder="Enter price" required)

      h4 Itinerary Items
      #itineraryList
        .itinerary-item
          input(type="text" name="itinerary_title[]" placeholder="Item title" required)
          textarea(name="itinerary_description[]" placeholder="Item description" required)

      button#addItineraryBtn(type="button") + Add Itinerary Item

      .form-actions
        button#submitPackageBtn.submit-btn(type="submit") Save Package
        button#cancelEditBtn.cancel-btn(type="button" style="display:none") Cancel

script(src="/js/agent-packages.js")
