extends ../layout

block head
  link(rel="stylesheet" href="/css/agent.css")

block content
  .stats-container
    .stat-card
      span.stat-number#totalPackages 0
      span.stat-label My Packages
    .stat-card
      span.stat-number#totalTrips 0
      span.stat-label Total Trips
    .stat-card
      span.stat-number#confirmedBookings 0
      span.stat-label Confirmed Bookings

  h2 Trips
  table#tripsTable
    thead
      tr
        th Trip ID
        th Package
        th Traveller
        th Dates
        th Status
        th Actions
    tbody#tripsBody

  .pagination#tripsPagination

  .modal-overlay#tripInfoModal
    .modal
      button.modal-close#closeTripInfoModalBtn &times;
      .trip-info-card
        h3#tripInfoId -
        p#tripInfoName -
        span.trip-status-badge#tripInfoStatus -
        .trip-info-grid
          .trip-info-box
            label Start Date
            p#tripInfoStartDate -
          .trip-info-box
            label End Date
            p#tripInfoEndDate -
          .trip-info-box
            label Cost
            p#tripInfoCost -

block scripts
  script(src="/js/agent-dashboard.js")
