doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TripZip
    link(rel="stylesheet" href="/css/login.css")

  body
    .container
      .left-half
      .right-half
        .form-container
          img.logo(src="/assets/logo.jpg" alt="Logo")

          #formContent

            // LOGIN FORM
            .form-box.login-form#loginSection
              h2 Login
              form#loginForm
                label Email
                input#loginEmail(type="text" placeholder="Enter Email" required)

                label Password
                input#loginPassword(type="password" placeholder="Enter Password" required)

                a.forgot-password(href="#" onclick="showForgotPassword()") Forgot Password?

                button.submit-btn#loginBtn(type="submit" disabled) Login

              button.signup-link(onclick="window.location.href='/signup'") Sign Up


            // FORGOT PASSWORD (SAME STRUCTURE AS SIGNUP STEP2)
            form#forgotPasswordForm.hidden

              label Email
              input#email(type="resetEmail" placeholder="Enter Email" required)

              button#sendCodeBtn(type="button") Send Verification Code

              #afterCodeSent.hidden
                label Enter Verification Code
                input#emailCode(type="text" placeholder="Enter Code")

                button#validateCodeBtn(type="button") Validate Code

                p#validationMessage

                p#timerText
                  | Code expires in 
                  span#timer 60
                  | s

                button#resendCodeBtn.hidden(type="button") Resend Code


              #passwordSection.hidden
                label New Password
                input#password(type="password" placeholder="Enter New Password")

                ul.password-rules.hidden#passwordRules
                  li#ruleLength Minimum 8 characters
                  li#ruleUpper One uppercase letter
                  li#ruleLower One lowercase letter
                  li#ruleNumber One number
                  li#ruleSpecial One special character

                label Re-enter Password
                input#password2(type="password" placeholder="Re-enter Password")

                button.submit-btn#resetBtn(type="submit" disabled) Reset Password


    script(src="/js/emailVerification.js")
    script(src="/js/login.js")