extends ../layout

block append head 
  title Explore

  // shared layout
  link(rel="stylesheet", href="/css/dashboard.css")

  // explore page css
  link(rel="stylesheet", href="/css/traveller_explore.css")

block content 
  // ================= SEARCH AREA =================
  .search-area
    .one-field.destination-field
      p.small-title Destination
      input#searchInput.text-input(type="text", placeholder="Search...")

    .one-field.price-field
      p.small-title Price Range
      .price-inputs
        input#minPrice.text-input(type="number", placeholder="Min Price")
        span.dash -
        input#maxPrice.text-input(type="number", placeholder="Max Price")

  // ================= PACKAGES CONTAINER =================
  .cards#cardsContainer
    p Loading packages...

  // ================= SCRIPTS =================
  script(src="/js/traveller_explore.js")