extends ../layout

block append head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/css/traveller_dashboard.css")
  link(rel="stylesheet", href="/css/agent.css")

block content
  h2.section-title My Bookings

  .stats
    .stat
      .stat-number#upcomingCount 0
      .stat-text Upcoming Trips

    .stat
      .stat-number#activeCount 0
      .stat-text Active Trips

    .stat
      .stat-number#completedCount 0
      .stat-text Completed Trips

  .table-card
    table.table
      thead
        tr
          th Package
          th Destination
          th Status
          th.table-right Actions
      tbody#bookingsTbody

  .pagination#bookingsPagination

  .center
    a.btn.btn-wide(href="/traveller/explore") Browse More Packages

  .modal-overlay#viewPackageModal
    .modal.modal-view
      button.modal-close#closeViewPackageModalBtn &times;

      .view-pkg-header
        h3#viewPkgTitle -
        span.view-pkg-destination#viewPkgDestination -

      .view-pkg-meta
        .view-pkg-meta-item
          label Start Date
          p#viewPkgStartDate -
        .view-pkg-meta-item
          label End Date
          p#viewPkgEndDate -
        .view-pkg-meta-item
          label Price
          p#viewPkgPrice -

      .view-pkg-section
        label Description
        p#viewPkgDescription -

      .view-pkg-section
        label Itinerary
        ul#viewPkgItinerary.view-pkg-itinerary

      .view-pkg-actions
        a#viewPkgBookingBtn.btn(href="#") Request Booking

block scripts
  script(src="/js/traveller_dashboard.js")