extends ../layout

block append head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/css/traveller_dashboard.css")

block content
  h2.section-title My Bookings

  .stats
    .stat
      .stat-number#upcomingCount 0
      .stat-text Upcoming Trips

    .stat
      .stat-number#activeCount 0
      .stat-text Active Trips

    .stat
      .stat-number#completedCount 0
      .stat-text Completed Trips

  .table-card
    table.table
      thead
        tr
          th Package
          th Destination
          th Status
          th.table-right Actions

      tbody#bookingsTbody

  .center
    button.btn.btn-wide(type="button") Browse More Packages

block append scripts
  script(src="/js/traveller_dashboard.js")